
/*
Gallery - Css
==============================================================================*/

@import url(http://fonts.googleapis.com/css?family=Pacifico);


#container {
    max-width:100%;
    margin:0;
    padding:0;
}

body{
    background-image:url(pics/wood_pattern.png);
    background-repeat:repeat;
    font-family: 'Pacifico', cursive;
   
}

#images {
    max-width:90%;
    margin-top:80px;
    margin-right:20px;
    margin-left:40px;
    
    /*position:relative;*/

}

#images img {
    padding:3px;
}

#images a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 3px 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 3px 8px rgba(0,0,0,.3);
	box-shadow: 3px 8px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;

}

#images a:after {
	color: #333;
	font-size: 25px;
	content: attr(title);
	position: relative;
	top:15px;
}

#images img { 
	display: block; 
	width: inherit; 
	width:200px;
	
}

#images a:nth-child(n)
{
	-webkit-transform: rotate(-10deg);  
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg); 
}

#images a:nth-child(2n)
{
	-webkit-transform: rotate(5deg);  
	-moz-transform: rotate(5deg); 
	transform: rotate(5deg); 
}
#images a:nth-child(3n) { 
	-webkit-transform: rotate(-20deg);  
	-moz-transform: rotate(-20deg); 
	transform: rotate(-20deg); 
}
#images a:nth-child(4n)
{
	-webkit-transform: rotate(10deg);  
	-moz-transform: rotate(10deg); 
	transform: rotate(10deg); 
	box-shadow: 8px 4px 6px rgba(0,0,0,.3);
}
#images a:nth-child(5n)
{
	-webkit-transform: rotate(-15deg);  
	-moz-transform: rotate(-15deg); 
	transform: rotate(-15deg); 
}


#images a:hover{
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.4); 
    -moz-transform: scale(1.4);
    transform: scale(1.4);
    z-index:10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);

    -webkit-transition:all 0.4s ease 0.4s;
    -moz-transition:all 0.4s ease 0.4s;
    -o-transition:all 0.4s ease 0.4s;
    transition:all 0.4s ease 0.4s;
}

aside {
    max-width:100%;
    border:solid 1px white;
    float:right;
    padding-bottom:20px;
    margin-top:-380px;
    margin-right:60px;
    background-image:url(pics/restaurant_icons.png);
    background-repeat:repeat;
    width:200px;
    height:200px;
    transform:rotate(20deg);
    box-shadow:10px solid #f7f7f7;
    
}
aside p,h3{
    padding: 10px;
    opacity:0.5;
}
aside a{
    text-decoration:none;
    padding:20px 20px;
    line-height:1.7em;
    font-size:1.3em;
    color:red;
    /*border:1px dashed red;*/
    
    
} 
aside a:visited{
    color:red;
}

aside a:active{
    color:red;
}
    
