
#container {
    width:100%;
    margin:0;
    padding:0;
    
    
}
body {
    background-color:orange;
    width:100%;
    font-family:"arial", "verdana";
    font-size:1.2em;
    font-style:italic;
 
}
#images {
    width:90%;
    margin-top:80px;
    margin-left:50px;

    /*position:relative;*/
}
#images a::after{
content: attr(title);
	background-color: yellow;
    color: red;
    font-weight: bold;
    font-size:1em;

}

img{
    background-color:white;
    /*position:relative;*/
    box-shadow:20px 20px black;
    border:10px solid white;
   width:170px;
    padding-bottom:30px;
     transform: rotate(20deg);
    margin:20px;
    
  /*  width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 2s, transform 2s;*/
}
img:hover {
     width:250px;
     height:200;
     position:relative;
     z-index:1;
     /*-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera 
    transform: rotate(0deg);*/

}
body #image:nth-child(odd){
    background-color:black;
    width:20px;
    /*-webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 2s, transform 2s;*/
    
}

img alt {
    font-family:"times";
    font-size:1em;
}