
/* Mobile Stylesheet - screens <= 480 px;
------------------------------------------------------------------------------*/
/*Layout
 Using: Two columns floating layout
Total width: 1200px 
-----------------------------------------------------------------------------------------------------------*/
/*Container white (#FFFFF)
*Top -  green { #125F1B } --> Title( #2A8018)
*Navigation green
*Content - #FFFFF
*footer-white { #fff }
*Siderbar #fcfcfc (white.gray)

------------------------------------------------------------------*/

@media screen {
    
#container {
 
	width: 100%;
	background-color:white;
	margin:0 auto;

}

/*Top
-------------------------------------------------------------------*/
#top {
	
	height: auto;
	background-color: #125F1B; 
	background: url('../pics/logo.png') no-repeat; background-size: 100%;
	

}

#title {
	font-family: "arial", "helvetica", "serif"; 
	color: black;
	font-size:1.5em;
	text-shadow: 2px 2px green;
	text-align:center;
	padding-top: 60px;
}

/*Navigation -Menu
-------------------------------------------------------------------*/
#navigation {
	margin-top: 1px;
	width: 100%;
	float: left;
	background-color:#FFF;
	padding:0px;
	padding-top:50px;
	
}

/*Content
-------------------------------------------------------------------*/
#content {
	background-color: #FFF;
	max-width: 100%;	
	margin-bottom: 20px;
	float:left;
	padding-right:5px;
	padding-left:5px;
}

/*Sidebar
-------------------------------------------------------------------*/
#sidebar {
	background-color: #fcfcfc;
	font-family: "arial", "helvetica", "sans-serif"; color: white;
	border: 2px solid #125F1B; 
	margin-top: 50px;
	max-width: 100%;
	float: left;
	padding:0px;

	
}
	
/*Footer
--------------------------------------------------------------------*/
#footer {

    clear:both;
    padding:10px;
    background-color:#fff;
    color:white;
    text-align:right;
    height:60px;
	
}

/*Menu attributes
------------------------------------------------------*/
.menu {
	float:none;
	font-family: "arial", "helvetica", "serif"; font-variant:small-caps;
	font-size: 20px; font-weight:bold;
	margin-top:1px;	
	margin-left:0px;
	padding:0px;
	width:100%;

}

.menu li {	
	text-decoration:none;
	list-style-type:none;
	height: 72px; line-height: 45px;
	padding-top:0px;	
	padding-left:0px;	
	padding-right:0px;
	width: 100%;
}
.menu li a {	
	display:block;
/*	text-align:center;*/
	text-indent: 90px;
	width: 96%;
    background-color:green; 	
    color:white;
    border-radius:58px;
    box-shadow:8px 8px black;
	background-image: url(pics/sprite.png); 
	background-repeat:no-repeat; 
	padding:3px 3px 3px 3px;

}	

.menu li a:visited{ color:white; background-color:green;}

.menu li a:hover{ background-color:white;color:green; border: solid 3px #DEBF40;}

.menu li a:focus { background-color:black;	color:green;}

/*adding sprites on menu
----------------------------------------*/
#home { background-position: 50px -55px; background-size: 32px;} /*kom ihåg -första gäller x-led och andra y-led (uppe + och nere -) mellanrum mellan bilderna spelar roll*/
#home:hover { background-position:50px 9px;}

#labor { background-position: 50px -180px; background-size: 32px;}
#labor:hover { background-position: 50px -116px;}

#present { background-position: 50px -310px; background-size: 32px}
#present:hover { background-position: 50px -246px;}

#cont { background-position: 50px -440px; background-size: 32px;}
#cont:hover { background-position: 50px -376px;}

a.active1   {background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
			background-position:50px 9px!important;
}
a.active2   {background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
			background-position: 50px -116px!important;
}
a.active3   {background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
			background-position: 50px -246px!important;
}
a.active4   {background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
			background-position: 50px -376px!important;
}




/*End menu!
------------------------------------------------------------------------------*/



/*Media
------------------------------*/
img { width:100%;}

video {width:100%;}



/*Typografi
---------------------------------------------------------------------------------------------------------*/
/*Links
-------------------------------*/
a:link {color:green; text-decoration:none;}
a:visited {color:#CB29D5;} /*lila*/
a:hover{color:red;}
a:focus {color:blue;}
a:active{color:#29D17;} /*light-green*/

/*Headers
------------------------------*/
													/*body {font-family :"times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande"; 
														line-height: 25px; color: #312F2F; font-size: 1.1em; width:674px;} ---->onödigt.Problem*/

h1, h2, h3, h4, h5, h6 {font-family: "arial", "tahoma", "helvetica", "san serif", "verdana";
font-weight:bold; color: #2A8018; line-height: 1.5em;  font-size: 1.5em;} /*tema-green*/

h2 {line-height: 28px;  font-size: 1.4px;}
h3 {line-height: 26px;  color:  black; font-size: 1.4em;}
h4 {line-height: 25px;  color:  black; font-size: 1.3em;}
h5 {line-height: 25px;  color:  black; font-size: 1.2em; text-transform:uppercase;}
h6 {line-height: 25px;  color:  black; font-size: 1.1em; font-weight:none;}

/*Body
-----------------------------*/
p {font-family : "Times New Roman", "times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande"; 
			line-height: 25px; color: #312F2F; font-size: 1em;} /*grey-black*/
	
#content ol, ul{font-family: "arial", "tahoma", "helvetica", "san serif", "verdana"; 
			line-height: 25px; color: #4829D1; font-size: 1em;}

#content li, dl, dt, dd  {font-family :"times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande";
			line-height: 25px; color: #312F2F; font-size: 1em; font-weight:bold;}
			
			


/*Form -  Contakt. 
--------------------------------*/
.contakt_form {width:100%; 
		padding-top:40px; 
		line-height:2em; 
		font-size: 1.3em;
		
}
		
.contakt_form label { text-align:right;}

.contakt_form input {background-color: #FFF0F0; font-size: 0.7em; margin-bottom:20px;} 

.contakt_form option {width:80px; }

.contakt_form textarea {background-color: #FFF0F0; font-size: 0.9em; float:right; resize:vertical; width:100%; height:320px;}

.zozo {background-color: rgb(240, 240, 240);
	height: 45px; line-height: 43px; 
	text-align:center;
	margin-top:10px;
	border-radius:10%;
	font-size:0.8em;
	box-shadow:8px 8px black;
}


/*Speciall tabeller- classes
------------------------------------*/
		
.tables {border:3px solid green; font-size:1.3em; line-height:50px; text-align:center;}

.tables, td {border:solid 2px black ; width: 600px; height:auto;}


.single{border:3px solid green;background-color: /*rgb(150, 224, 150)*/ green;color:white;}
	
.doubbel{ border:solid 3px green; background-color:/*rgb(240, 240, 240)*/ white;
	color: green;}


/*Speciall media - classes
 -----------------------------------*/
 
 .minilogo { background-image:url("pics/minilogob.jpg"); /*minilogo på första titeln*/
		background-repeat: no-repeat;/* repeat, repeat-x, repeat-y */
		background-position: top left; /* right, bottom, center ... */
		background-size: 40px 50px;
		text-indent: 30px; 
		font-size: 30px;
		line-height:53px;
 }
		
.ram{border-style:none; background-color: white; margin:0; padding:0;}
.ram h3 {border:none;}
}

