

/*CSS -Stylesheet
-----------------------------------------------------------------------------------------------------------*/


/*Layout
 Using: Two columns floating layout
Total width: 1100px 
-----------------------------------------------------------------------------------------------------------*/
/*Container white (#FFFFF)
*Top -  green { #125F1B } --> Title( #2A8018)
*Navigation green
*Content - #FFFFF
*footer-white { #fff }
*Siderbar #fcfcfc (white.gray)

------------------------------------------------------------------*/
#container {
	max-width: 1200px;
	background-color:white;
	margin:0 auto;

}

/*Top
-------------------------------------------------------------------*/
#top {
	
	height: 150px;
	background-color: #125F1B; 
	background: url('../pics/logo.png') no-repeat; background-size: 1200px 150px;
	border-radius:100px;
}

#title {
	font-family: "arial", "helvetica", "serif"; 
	color: black;
	font-size:2em;
	text-shadow: 2px 2px green;
	text-align:center;
	padding-top: 90px;
}

/*Navigation -Menu
-------------------------------------------------------------------*/
#navigation {
	margin-top: 1px;
	width: 200px;	height:auto;
	float: left;
	background-color:#FFF;
	padding:0px;
	padding-top:50px;
	
}

/*Content
-------------------------------------------------------------------*/
#content {
	background-color: #FFF;
	max-width: 710px;	
	margin-bottom: 20px;
	float: left;
	padding:0px;
	padding-left:36px;
	
}

/*Sidebar
-------------------------------------------------------------------*/
#sidebar {
	background-color: #fcfcfc;
	font-family: "arial", "helvetica", "sans-serif"; color: white;
	border: 2px solid #125F1B; 
	margin-top: 50px;	
	width: 250px;
	float: right;
	padding:0px;

	
}
	
/*Footer
--------------------------------------------------------------------*/
#footer {
clear:both;
padding:10px;
background-color:#fff;
color:white;
text-align:right;
height:60px;
	
}

/*Menu attributes
------------------------------------------------------*/
/*.menu {
	float:left;
	font-family: "arial", "helvetica", "serif"; font-variant:small-caps;
	font-size: 20px; font-weight:bold;
	margin-top:1px;	
	margin-left:0px;
	padding:0px;

}

.menu li {	
	text-decoration:none;
	list-style-type:none;
	height: 62px; line-height: 48px;
	padding-top:0px;	
	padding-left:0px;	
	padding-right:0px;
	width: 190px;
}
.menu li a {	
	display:block;
						/*border: solid 3px black;*/	
/*	text-align:center;	
	width: 190px;
						/*	border: inset yellow thick;*/
/*	border-radius:58px;
 background-color:green; 	
 color:white;	

}	

.menu li a:visited{ color:white; background-color:green;}

.menu li a:active{ background-color:white;	color:black;}

.menu li a:hover{ background-color:white;color:green;}

.menu li a:focus { background-color:black;	color:green;}

#active {
		background-color:white;	color:black;
}*/


/*End menu!
------------------------------------------------------------------------------*/

/*Sprites-Menu
------------------------------------------------------------------*/

#menu_pictures {
	float:left;
	margin-top:1px;	

}
#menu_pictures a {

	display:block;
	background-image: url(pics/sprite.png);
	text-indent: -99999px;
	padding-bottom: 5px;
	
}

#menu_pictures li  {

	list-style-type:none;
	padding:0px;
	margin:0px;
	width:24px;
	height:24px;
	margin-bottom:20px;
}

#home { background-position: 0px -48px;} /*kom ihåg -första gäller x-led och andra y-led (uppe + och nere -) mellanrum mellan bilderna spelar roll*/
#home:hover { background-position: 0 0px;}

#labor { background-position: 0 -144px;}
#labor:hover { background-position: 0px -96px;}

#present { background-position: 0 -240px;}
#present:hover { background-position: 0 -192px;}

#cont { background-position: 0 -332px;}
#cont:hover { background-position: 0 -288px;}


/*Typografi
---------------------------------------------------------------------------------------------------------*/
/*Links
-------------------------------*/
a:link {color:green; text-decoration:none;}
a:visited {color:#CB29D5;} /*lila*/
a:hover{color:red;}
a:focus {color:blue;}
a:active{color:#29D17;} /*light-green*/

/*Headers
------------------------------*/
													/*body {font-family :"times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande"; 
														line-height: 25px; color: #312F2F; font-size: 1.1em; width:674px;} ---->onödigt.Problem*/

h1, h2, h3, h4, h5, h6 {font-family: "arial", "tahoma", "helvetica", "san serif", "verdana";
font-weight:bold; color: #2A8018; line-height: 1.8em;  font-size: 1.8em;} /*tema-green*/

h2 {line-height: 28px;  font-size: 28px;}
h3 {line-height: 26px;  color:  black; font-size: 1.6em;}
h4 {line-height: 25px;  color:  black; font-size: 1.4em;}
h5 {line-height: 25px;  color:  black; font-size: 1.3em; text-transform:uppercase;}
h6 {line-height: 25px;  color:  black; font-size: 1.2em; font-weight:none;}

/*Body
-----------------------------*/
p {font-family : "Times New Roman", "times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande"; 
			line-height: 25px; color: #312F2F; font-size: 1.2em; 	} /*grey-black*/
	
#content ol, ul{font-family: "arial", "tahoma", "helvetica", "san serif", "verdana"; 
			line-height: 25px; color: #4829D1; font-size: 1em;}

#content li, dl, dt  {font-family :"times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande";
			line-height: 25px; color: #312F2F; font-size: 1em; font-weight:bold;}
			
			

/*Media
------------------------------*/
img { max-width:710px;}

video {max-width:710px;}


/*Form -  Contakt. 
--------------------------------*/
.contakt_form {max-width:705px; 
		padding-top:40px; 
		line-height:2em; 
		font-size: 1.3em;
		
}
		
.contakt_form label { text-align:right;}

.contakt_form input {background-color: #FFF0F0; font-size: 0.7em; margin-bottom:20px;} 

.contakt_form option {width:80px; }

.contakt_form textarea {background-color: #FFF0F0; font-size: 0.9em; float:right; }

.zozo {background-color: rgb(240, 240, 240);
	height: 45px; line-height: 43px; 
	text-align:center;
	margin-top:10px;
	border-radius:20%;
	font-size:0.8em;
}


/*Speciall typografi- classes
-----------------------------*/
#special {font-family:"sans-serif"; font-size: 40px; font-weight:bold;}

#ps {text-align:right; font-family:"arial", "tahoma", "helvetica", "san serif", "verdana"; 
			font-size: 0.8em; }
			

/*Speciall media - classes
-----------------------------*/
.sociall {width: 350px; height: 250px;
	  background-image: url("pics/social-networks.jpg");
	  background-repeat:no-repeat;
	  background-size: 350px; float: right; 
			border:solid 8px green;}

#bild  {width: auto; height: auto;
		float: right; 
		border:solid 8px green;
		margin-right:20px;
		max-width:100%;
		max-height:auto;}
	
.minilogo { background-image:url("pics/minilogob.jpg"); /*minilogo på första titeln*/
		background-repeat: no-repeat;/* repeat, repeat-x, repeat-y */
		background-position: top left; /* right, bottom, center ... */
		background-size: 40px 50px;
		text-indent: 30px; 
		font-size: 50px;
		line-height:53px;}
		
.ram {border-style:double; background-color: rgb(194, 187, 187);  
			margin:20px; border-width:8px; padding:20px; }
			
	.ram h3 {border-bottom:  3px solid black; padding:5px;}
		
		.right{width: 250px; height: 250px;
				 float: right; 
					border:solid 2px olive;}
		
		
		
/*Speciall tabeller- classes
------------------------------*/
		
.tables {border:3px solid green; font-size:1.3em; line-height:50px; text-align:center;}

.tables, td {border:solid 2px black ; width: 600px; height:auto;}


.single{border:3px solid green;background-color: /*rgb(150, 224, 150)*/ green;color:white;}
	
.doubbel{ border:solid 3px green; background-color:/*rgb(240, 240, 240)*/ white;
	color: green;}




/* Print properties. sv- Skrivare
------------------------------------------------------------------------------------------------------*/

@media print{
    
    /*Layout
    ------------------------*/
    
#top {display:none;}

#navigation {display:none;}

#sidebar {display:none;} 

#footer {display:none;} 

#content {border:0; border-style:none; background-color:white;}

#content a:after {
    content: "("attr(href)")";} /*visar hela länken vid utskrift*/

.me {font-family: "arial", "tahoma", "helvetica", "san serif", "verdana";
        font-weight:bold; color: #2A8018; line-height: 1.5em;  font-size: 1.3em;
            float:right;}
            
            
/*End Layout
-----------------------------------------------*/


    /*Media
    -----------------------*/
video {display:none;}
img {border:0;}

/*End Media
----------------------------------------------*/


            
    /*Typografi
    -----------------------*/
       
h1, h2, h3, h4, h5, h6 {font-family: "arial", "tahoma", "helvetica", "san serif", "verdana";
        font-weight:bold; color: #2A8018; line-height: 1.5em;  font-size: 1.3em;}
        
p {font-family : "Times New Roman", "times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande"; 
			line-height: 1.5em; color: #312F2F; font-size: 1.1em;} /*grey-black*/
	
#content ol, ul{font-family: "arial", "tahoma", "helvetica", "san serif", "verdana"; 
			line-height: 25px; color: #4829D1; font-size: 1em;}

#content li, dl, dt  {font-family :"times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande";
			line-height: 1.5em; color: #312F2F; font-size: 1em;}
			
/*End Typografi
--------------------------------------------*/



	/*Speciall media - classes
    --------------------------*/
.sociall {border:none;}

#bild  {border:none;}
	
.ram {border-style:none; background-color: none;  }
			
.ram h3 {border:none;}

.right{ border:none;}

/*End speciall
---------------------------------------------*/


}    /*End Print*/

