/*Reset-styleshhet
-----------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset - stylesheet
--------------------------------------------------------------------*/
/*CSS -Stylesheet
======================================================================================================
-----------------------------------------------------------------------------------------------------------*/


/*Layout
 Using: Two columns floating layout
Total width: 1200px 
-----------------------------------------------------------------------------------------------------------*/
/*Container white (#FFFFF)
*Top -  green { #125F1B } --> Title( #2A8018)
*Navigation green
*Content - #FFFFF
*footer-white { #fff }
*Siderbar #fcfcfc (white.gray)

------------------------------------------------------------------*/

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu,
nav, section{display: block;} 

#container {
	max-width: 1200px;
	background-color:white;
	margin:0 auto;
	margin-top:-25px;
	box-shadow:3px 0px 8px  0px #bdbdbd inset;
	box-shadow:0px 0px 10px  3px #bdbdbd inset;


}

/*Top
-------------------------------------------------------------------*/
header {
	
	height: 150px;
	background-color: #125F1B; 
	background: url('../pics/logo.png') no-repeat; background-size: 1200px 150px;
	border-radius:00px;
	
}

title {
	font-family: "arial", "helvetica", "serif"; 
	color: black;
	font-size:2em;
	text-shadow: 2px 2px green;
	text-align:center;
	padding-top: 90px;
}

/*Navigation -Menu
-------------------------------------------------------------------*/
nav {

	margin-top: 1px;
	width: 210px;
	float: left;
	background-color:#FFF;
	padding:0px;
	padding-top:50px;
	box-shadow:9px 3px 8px -6px #bdbdbd inset;
}
/*Menu attributes
------------------------------------------------------*/
nav ul{
	float:left;
	font-family: "arial", "helvetica", "serif"; font-variant:small-caps;
	font-size: 20px; 
	font-weight:bold;
	margin-top:1px;	
	margin-left:0px;
	padding:0px;

}

nav li {	

	list-style-type:none;
	height: 72px; line-height: 48px;
	padding-top:0px;	
	padding-left:5px;	
	padding-right:0px;
	width: 197px;
	text-decoration:none;
}
nav li a {	

						/*border: solid 3px black;*/	
						/*text-align:center;*/	
						/*	border: inset yellow thick;*/
	display:block;
	border-radius:58px;
    box-shadow:8px 8px black;
	background-color:white; color:green;
	background-image: url(pics/sprite.png); 
	text-indent: 45px; 
	background-repeat:no-repeat; 
	padding:3px 3px 3px 3px;
}

nav li a:visited{ color:white; background-color:green;}

nav li a:hover{ background-color:white;color:green; border: solid 3px #DEBF40;}

nav li a:focus { background-color:black;	color:green;}

/*adding sprites on menu
----------------------------------------*/
#home { background-position: 13px -55px; background-size: 32px;} /*kom ihåg -första gäller x-led och andra y-led (uppe + och nere -) mellanrum mellan bilderna spelar roll*/
#home:hover { background-position:13px 9px;}

#labor { background-position: 13px -180px; background-size: 32px;}
#labor:hover { background-position: 13px -116px;}

#present { background-position: 13px -310px; background-size: 32px}
#present:hover { background-position: 13px -246px;}

#cont { background-position: 13px -440px; background-size: 32px;}
#cont:hover { background-position: 13px -376px;}


a.active1   {background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
			background-position:13px 9px!important;
}
a.active2   {background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
			background-position: 13px -116px!important;
}
a.active3   {background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
			background-position: 13px -246px!important;
}
a.active4   {background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
			background-position: 13px -376px!important;
}
a.active5   {background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
			background-position: 13px -246px!important;
}

/*a.active1234{
			background-color:white !important; 
			color:black !important; 
			border: solid 3px green;
			border-radius:58px;
		    box-shadow:8px 8px black;
}
	
.active1   {background-position:13px 9px!important;}
.active2   {background-position: 13px -116px!important;}
.active1234 .active3   {background-position: 13px -246px!important;}
.active1234 .active4   {background-position: 13px -376px!important;}*/


/*End menu!
===========================================================================*/


/*Content
-------------------------------------------------------------------*/
main {

	background-color: #FFF;
	max-width: 700px;	
	margin-bottom: 20px;
	float: left;
	padding:0px;
	padding-left:36px;

}

/*Sidebar
-------------------------------------------------------------------*/
aside {

	background-color: #fcfcfc;
	font-family: "arial", "helvetica", "sans-serif";
	border: 0px solid #c2c2c2; 
	/*border-radius:7%;*/
	box-shadow:0px -6px 8px 4px #bdbdbd inset;
	margin-top: 0px;	
	width: 225px;
	float: right;
	padding:10px 10px;

}

#aside-one {
	padding-top:0px;
	padding-bottom:0px;
	background-color:#fcfcfc;
}
#aside-two {
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	padding-top:0px;
	padding-bottom:0px;
	background-color:#fcfcfc;
}
aside /*h3,*/h4 {
	background-color: green;
	color:white;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
	box-shadow:4px 4px black;
	border: inset yellow thick;
	
}
aside p {
	font-size: 1.4em; 
	font-weight:bold;
	text-align:left;
}
aside ul {
	
	font-family: "arial", "helvetica", "serif";
	text-transform:capitalize;
	margin-top:1px;	
	margin-left:0px;
	padding:0px;
	text-align:left;
}
aside li {
	list-style-type:none;
	text-decoration:none;
	font-size: 1em; 
	font-weight:bold;
	height: 32px; line-height: 20px;
	padding-top:0px;
	padding-bottom:5px;
	padding-left:0px;	
	padding-right:0px;
	width:225px;
	
}
aside li a{
	display:block;
	background-color:white; color:green;
	padding:3px 3px 3px 3px;
}

aside li a:visited{background-color:white; color:green; }

aside li a:hover{ background-color:white;color:green; border: solid 3px #DEBF40;}

aside li a:focus { background-color:green;	color:white;}

aside li a:active {background-color:black; color:white; border: solid 3px #DEBF40;}



/*Footer
--------------------------------------------------------------------*/
footer {
	clear:both;
	padding:0px;
	padding-bottom:30px;
	padding-right:20px;
	background-color:#fff;
	color:white;
	text-align:right;
	height:60px;
	border: 2px solid #c2c2c2; 
	/*border-radius:7%;*/
	box-shadow:0px 0px 5px 5px #bdbdbd inset;
}

/*End of layout
=====================================================================================*/


/*Typografi
---------------------------------------------------------------------------------------------------------*/
/*Links
-------------------------------*/
a:link {color:green; text-decoration:none;}
a:visited {color:#CB29D5;} /*lila*/
a:hover{color:red;}
a:focus {color:blue;}
a:active{color:#29D17;} /*light-green*/

/*Headers
------------------------------*/
													/*body {font-family :"times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande"; 
														line-height: 25px; color: #312F2F; font-size: 1.1em; width:674px;} ---->onödigt.Problem*/

h1, h2, h3, h4, h5, h6 {font-family: "arial", "tahoma", "helvetica", "san serif", "verdana";
font-weight:bold; color: #2A8018; line-height: 1.8em;  font-size: 1.8em;} /*tema-green*/

h2 {line-height: 28px;  font-size: 28px;}
h3 {line-height: 26px;  color:  black; font-size: 1.6em;}
h4 {line-height: 25px;  color:  black; font-size: 1.4em;}
h5 {line-height: 25px;  color:  black; font-size: 1.3em; text-transform:uppercase;}
h6 {line-height: 25px;  color:  black; font-size: 1.2em; font-weight:none;}

/*Body
-----------------------------*/
p {font-family : "Times New Roman", "times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande"; 
			line-height: 25px; color: #312F2F; font-size: 1.2em; 	} /*grey-black*/
	
#content ol, ul{font-family: "arial", "tahoma", "helvetica", "san serif", "verdana"; 
			line-height: 25px; color: #4829D1; font-size: 1em;}

#content li, dl, dt, dd  {font-family :"times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande";
			line-height: 25px; color: #312F2F; font-size: 1em; font-weight:bold;}
			
			

/*Media
------------------------------*/
img { max-width:700px;}

video {max-width:700px;}


/*Form -  Contakt. 
--------------------------------*/
.contakt_form {max-width:705px; 
		padding-top:40px; 
		line-height:2em; 
		font-size: 1.3em;
		
}
		
.contakt_form label { text-align:right;}

.contakt_form input {background-color: #FFF0F0; font-size: 0.7em; margin-bottom:20px;} 

.contakt_form option {width:80px; }

.contakt_form textarea {background-color: #FFF0F0; font-size: 0.9em; float:right; resize:vertical; }

.zozo {background-color: rgb(240, 240, 240);
	height: 40px; line-height: 40px; 
	text-align:center;
	margin-top:10px;
	border-radius:10%;
	font-size:0.8em;
	box-shadow:8px 8px black;
	
}

/*Comment
=======================================================================*/
/*.kommentar textarea{
	background-color:#FFF0F0;
	margin-bottom:80px;
	box-shadow:0px 0px 8px 4px #bdbdbd inset;/*	box-shadow:3px 3px 6px 3px;*/

}
.kommentar .zozo {
	height: 30px; line-height: 20px; 
	text-align:center;
	float:left;
	box-shadow:none;
	
}
.kommentar .namn {
	background-image:url("../CSS/pics/favicon.png"); /*minilogo på första titeln*/
	background-repeat: no-repeat;/* repeat, repeat-x, repeat-y */
	background-position: top left; /* right, bottom, center ... */
	background-size: 24px 24px;
	text-indent: 30px; 
	font-size:1.2em;
	
}
.kommentar .kom {
	border:2px solid black;
	margin-top:-15px;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	font-size:1em;
	background-color:#FFF0F0;
	width:400px;
	background-image:none;
}
.kommentar section {
	margin-bottom:40px;
}
/*======================================================================*/
/*Speciall typografi- classes
-----------------------------*/
#special {font-family:"sans-serif"; font-size: 40px; font-weight:bold;}

#ps {text-align:right; font-family:"arial", "tahoma", "helvetica", "san serif", "verdana"; 
			font-size: 0.8em; }
			

/*Speciall media - classes
-----------------------------*/
.sociall {width: 350px; height: 250px;
		  background-image: url("pics/social-networks.jpg");
		  background-repeat:no-repeat;
		  background-size: 350px; float: right; 
		  border:solid 8px green;
}

#bild  {width: auto; height: auto;
		float: right; 
		border:solid 8px green;
		margin-right:20px;
		max-width:100%;
		max-height:auto;
}
	
.minilogo { background-image:url("pics/minilogob.jpg"); /*minilogo på första titeln*/
			background-repeat: no-repeat;/* repeat, repeat-x, repeat-y */
			background-position: top left; /* right, bottom, center ... */
			background-size: 40px 50px;
			text-indent: 30px; 
			font-size: 50px;
			line-height:53px;
}
		
.ram {border-style:double; background-color: rgb(194, 187, 187);  
			margin:20px; border-width:8px; padding:20px; }
			
	.ram h3 {border-bottom:  3px solid black; padding:5px;}
		
		.right{width: 250px; height: 250px;
			 	float: right; 
					border:solid 2px olive;}
		
		
		
/*Speciall tabeller- classes
------------------------------*/
		
.tables {border:3px solid green; font-size:1.3em; line-height:50px; text-align:center;}

.tables, td {border:solid 2px black ; width: 600px; height:auto;}


.single{border:3px solid green;background-color: /*rgb(150, 224, 150)*/ green;color:white;}
	
.doubbel{ border:solid 3px green; background-color:/*rgb(240, 240, 240)*/ white;
	color: green;}




/* Print properties. sv- Skrivare
------------------------------------------------------------------------------------------------------*/

@media print{
    
    /*Layout
    ------------------------*/
    
#top {display:none;}

#navigation {display:none;}

#sidebar {display:none;} 

#footer {display:none;} 

#content {border:0; border-style:none; background-color:white;}

#content a:after {
    content: "("attr(href)")";} /*visar hela länken vid utskrift*/

.me {font-family: "arial", "tahoma", "helvetica", "san serif", "verdana";
        font-weight:bold; color: #2A8018; line-height: 1.5em;  font-size: 1.3em;
            float:right;}
            
            
/*End Layout
-----------------------------------------------*/


    /*Media
    -----------------------*/
video {display:none;}
img {border:0;}

/*End Media
----------------------------------------------*/


            
    /*Typografi
    -----------------------*/
       
h1, h2, h3, h4, h5, h6 {font-family: "arial", "tahoma", "helvetica", "san serif", "verdana";
        font-weight:bold; color: #2A8018; line-height: 1.5em;  font-size: 1.3em;}
        
p {font-family : "Times New Roman", "times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande"; 
			line-height: 1.5em; color: #312F2F; font-size: 1.1em;} /*grey-black*/
	
#content ol, ul{font-family: "arial", "tahoma", "helvetica", "san serif", "verdana"; 
			line-height: 25px; color: #4829D1; font-size: 1em;}

#content li, dl, dt  {font-family :"times", "georgia", "serif", "Lucida Sans Unicode", "Lucida Grande";
			line-height: 1.5em; color: #312F2F; font-size: 1em;}
			
/*End Typografi
--------------------------------------------*/



	/*Speciall media - classes
    --------------------------*/
.sociall {border:none;}

#bild  {border:none;}
	
.ram {border-style:none; background-color: none;  }
			
.ram h3 {border:none;}

.right{ border:none;}


/*End speciall
---------------------------------------------*/


}    /*End Print
====================================================================================================*/




body { 
	background: url(pics/connect.png) center center fixed; 
	/*float:top left;
	-webkit-background-size: cover;
	-moz-background-size: contain; 	   	
	-o-background-size: cover;
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";*/

	/*-moz-background-transform: scale(2);*/

}

