
/*Layout
-----------------------------------------------------------------------------------------------------------*/
/*Container white (#FFFFF)
*Top -  green { #125F1B } --> Title( #2A8018)
*Navigation green
*Content - #FFFFF
*footer-green { #125F1B }
*Siderbar #fcfcfc (white.gray)

------------------------------------------------------------------*/
#container {
	position: relative;
	max-width: 1200px;
	background-color: #FFFFF;
	overflow: auto;
	margin: 0 auto;
}

/*Top
-------------------------------------------------------------------*/
#top {
	max-width: 1200px;
	height: 150px;
	background-color: #125F1B; 
	background: url('../pics/logo.png') no-repeat; background-size:1200px 150px;

}

#title {
	font-family: "arial", "helvetica", "serif"; color: #2A8018;
	text-shadow: 2px 2px white;
	padding-left:  15px; padding-top: 105px;
	position:relative;
}

/*Navigation -Menu
-------------------------------------------------------------------*/
#navigation {
	margin-top: 1px;
	padding-right:0px;
	width: 250px;
	height:auto;
	float: left;
	background-color:#FFFFF;
}


/*Menu attributes
-----------------------------------------------*/
.menu{

	list-style-type:none;
	float:left;
	font-family: "arial", "helvetica", "serif"; font-variant:small-caps;
	font-size: 20px; font-weight:bold;
	margin-top:1px;

}

.menu li {	
	height: 48px;
	line-height: 38px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;

}
.menu li a {	
	text-decoration: none; 

	display:block;
	border:solid 2px black;
	text-align:center;
	width: 180px;
	color:white;
	background-color:green;
}	
.menu li a:visited{
	color:white;
	background-color:green;	
}
.menu li a:hover{
	background-color:white;
	color:green;
	
}
.menu l a:active{
	background-color:black;
	color:black;
}

.menu li a:focus{
	background-color:black;	
	color:green;
}

/*Content
-------------------------------------------------------------------*/
#content {
	background-color: #FFFFF;
	width: 668px;
	margin-top: 2px;
	margin-left: 16px;
	margin-bottom: 120px;
	float: left;
	
}

/*Sidebar
-------------------------------------------------------------------*/
#sidebar {
	
	background-color: #fcfcfc ;
	font-family: "arial", "helvetica", "serif"; 
	color: white;
	border: 2px solid #125F1B; 
	margin-top: 2px;
	width: 250px;
	float: right;
	
}
	
/*Footer
--------------------------------------------------------------------*/
#footer {
	
	position: fixed;
	bottom:0px;
	height: 80px;
	background-color: #125F1B;
	color:white;
	width:1200px;
	
}
	

/*Typografi
---------------------------------------------------------------------------------------------------------*/